[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
coverage="==6.4.1"
prospector="==1.7.7"
autopep8 = "==1.6.0"

[requires]
python_version = "3.10"
